body {
	font-family: serif;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: aqua;
}

.container {
	padding: 10px;
}

span {
	font-size: 3rem;
	background-color: aquamarine;
	padding: 10px 15px;
	margin: 15px;
	color: aliceblue;
}

button {
	font-size: 2rem;
	cursor: pointer;
	background-color: beige;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
